@charset"UTF-8"
*{
	margin:0;
	padding:0;
  box-sizing: border-box;
}

body{
   max-width: 100%;
   max-height: 100%;
   margin: 0 auto;
   background-image: url("../img/fundo-de-sala.jpg");
   background-repeat:round;
   background-size: 100%;
   background-attachment: fixed;
   background-position: center;
   overflow-x: hidden;
}
/*Forma do cabeçario*/
#cabecario {
    height: 130px;
    background-image: url(../img/cabe.jpg);
    z-index: 9999;
    /* margin: 0!important; */
    /* position: fixed; */
    width: 100%;
}
#cabecarinho{
  height:130px;
  background-image: url("../img/cabe.jpg");
  z-index:9999;
  box-shadow: 0px 0px 10px;
  width: 100%;
  position: fixed;
}
#icon{
  width: auto;
  position: relative;
  top: -23px;
  left: 60px;
  margin: 0px;
} 
header h4 {
    /* width: auto; */
    /* position: relative; */
    /* bottom: -53px; */
    /* float: left; */
    font-family: 'Quenda';
    /* margin: 0px auto !important; */
    /* clear: both; */
    width: auto;
    position: relative;
    top: -23px;
    left: 44px;
    margin: 0px;
}
@font-face{
  font-family: 'Quenda';
  src: url("../fonts/quenda/Quenda-Medium.otf");
}
/*busca*/

.container {
  position: absolute;
  margin: auto;
  top: 145px;
  left:1030px;
  right: 0;
  bottom: 100px;
  width: 300px;
  height: 100px;
}
.container .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  background: #990000;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
}
.container .search:hover {
  cursor: pointer;
}
.container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all .5s;
}
.container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}
.container input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: #990000;
  color: white;
  text-shadow: 0 0 10px #990000;
  padding-left: 20px;
  padding-right: 0;
  border-radius: 30px;
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.container input:hover {
  cursor: pointer;
}
.container input:focus {
  width:580px;
  opacity: 1;
  cursor: text;
}
.container input:focus ~ .search {
  
  background: #151515;
  z-index: 6;
}
.container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.container input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

/*busca*/
